<div class="title">
    <span nz-text>International Students Portal</span>
    <hr>
</div>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.monmouth.edu/" target="_blank">
      <img src="assets/mu-logo.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/main">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Airport Pick Up
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/airportform">
            Create Pickup Form
          </a>
          <a class="navbar-item">
            Edit Pickup Form
          </a>
          <a class="navbar-item" routerLink="/viewpickups">
            View/Remove Pickup Form
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Mentor
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Assign Mentor
          </a>
          <a class="navbar-item">
            Display Matches
          </a>
          <a class="navbar-item">
            Edit Mentorship
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Event
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/createevent">
            Create an Event
          </a>
          <a class="navbar-item" routerLink="/viewevents">
            View Event
          </a>
          <a class="navbar-item">
            Edit/Remove Event
          </a>
        </div>
      </div>

      <a class="navbar-item">
        Find A Room
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Register
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/viewstudents">
            View Students
          </a>
          <a class="navbar-item" routerLink="/register">
            Create a Student
          </a>
          <a class="navbar-item">
            Edit Student
          </a>
          <a class="navbar-item">
            Remove Student
          </a>
        </div>
      </div>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <!-- <a class="button is-primary">
              <strong>Sign up</strong>
            </a> -->
          <a class="button is-light" href="http://localhost:4200/login">
            Sign Out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="navbar is-info">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/mu-logo.png">
        <p>Monmouth University Global Education Portal</p>
      </a>
    </div>
  </div> -->
