<div class="contentwrapper" style="width: 100%; height: 100%;">
  <div class="image">
    <img src="assets/loginimage.png" style="height: 100%;">
  </div>
  <div class="login">
    <div class="redbox">
      <div class="mulogo">
        <img src="assets/logo1.png" style="width: 200px; height: 50px;">
      </div>
      <br />
      <br />
      <br />
      <p>Sign in with your Monmouth account</p>
      <br />
      <div class="logincontainer">
        <input nz-input placeholder="Username">
        <br />
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="input password"
            [(ngModel)]="password" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
      </div>
      <br />
      <div class="buttongroup">
          <div class="control">
            <button class="button is-link" routerLink="/main">Sign in</button>
          </div>
      </div>
      <br />
      <br />

      <div class="forget">
        <a routerLink="/forgetpassword" target="blank">
          Forget username or password
        </a>
      </div>
    </div>
  </div>

</div>
