body, html {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%;*/
}

/*.image1{
  width:800px;
  height:100%;
}*/

.column1{
  width:70%;
  float:left;
}

.column2{
  width:30%;
  float:right;
  padding: 15px;
  margin-top:65px;
}

.data{
  width:100%;
  margin:10px 20px 30px -60px;;
  /*border: 1px solid red;*/
}

h1{
  color:rgba(44, 49, 101, 0.934);
  padding:10px;
  margin: 80px 20px 20px -28px;
}
h2{
  color:rgba(44, 49, 101, 0.934);
  padding:10px;
  margin: -40px 20px 0px -52px;
}

.btn{
  cursor: pointer;
  background-color: rgb(35, 79, 221);
  color:white;

}


