body, html {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%;*/
}

.image1{
  width:100%;
  height:auto;
}

.column1{
  width:70%;
  float:left;
}

.column2{
  width:30%;
  float:right;
  padding: 15px;
  margin-top:50px;
}

.data{
  width:100%;
  margin:20px 20px 60px -90px;;
  /*border: 1px solid red;*/
}

h1{
  color:rgba(44, 49, 101, 0.934);
  padding:10px;
  margin: 60px 20px 20px -40px;
}
h2{
  color:rgba(44, 49, 101, 0.934);
  padding:10px;
  margin: -40px 20px 0px -52px;
}

.btn{
  cursor: pointer;
  background-color: rgb(35, 79, 221);
  color:white;

}








