<nz-layout>
  <nz-header class="header">
      Global Education International Students
  </nz-header>
</nz-layout>
<br>
<br>
<div class="header1">
  <h1>Confirm your Email</h1>
</div>
<br><br>
<div class="info">
  <p>Please check your inbox for a confirmation email. Click the link in the email to confirm your email address.</p>
  <br>
  <p>After you confirm click Continue.</p>
  <br>
  <div class="continue">
      <a href="http://localhost:4200/login">
          <button nz-button nzType="primary" (click)="loadOne()" [nzLoading]="isLoadingOne">Continue</button>
      </a>
      </div>
  <div class="resend">
          <button nz-button nzType="Resend">Re-send confirmation email</button>
      </div>
</div>


