.header {
  position: relative;
  background-color: #f0f2f5;
  height: 100px;
  font-size: 3em;
  text-align: center;
  }
.header1 {
  position: relative;
  height: 120px;
  font-size: 1.8em;
  text-align: center;
  font-family:cursive;
  }
.info {
  position: relative;
  height: 90px;
  font-size: 1.5em;
  text-align: center;
  }
.continue{
  position: relative;
  margin: 20px;
  }
.resend{
  position: relative;
}
