<app-header></app-header>
<nz-table #fixedTable [nzData]="list" [nzScroll]="{ x: '1150px', y: '550px' }">
  <thead>
    <tr>
      <th nzWidth="150px" nzLeft="0px">Event Name</th>
      <th nzWidth="100px" nzLeft="150px">Event Place</th>
      <th nzWidth="100px">Event Date</th>
      <th nzWidth="100px">Event Time</th>
      <th nzWidth="100px">Description</th>
      <th nzWidth="100px" nzRight="0px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td nzLeft="0px">{{ item.eventname }}</td>
      <td nzLeft="150px">{{ item.eventplace }}</td>
      <td>{{ item.date }}</td>
      <td>{{ item.time }}</td>
      <td>{{ item.description }}</td>
      <td nzRight="0px">
        <a (click)="delete(item.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" (click)="getData()">Get All Events</button> </div>
  <div class="control">
    <button class="button is-text" routerLink="/main">Cancel</button>
  </div>
</div>

<app-footer></app-footer>
