<a href="http://localhost:4200/main">
<div class="image">
  <img src="assets/logo1.png" width=260px height=70px>
</div>
</a>
<div id="accountsetting">
  <h1 class="ac">Account Settings</h1>
</div>
<div class="settings">
<div id="changeusername">
  <u><p class="cu">
      Change username
  </p></u>
  <p class="cue">
      Changing your username can have unintended side effects.
  </p>
  <div id="bt1">
      <input type="button" value="Change username"/>
  </div>
</div>

<div id="changepassword">
  <u>
    <p class="cp">
      Change password
  </p>
</u>
  <p class="cpe">
          Changing your password can have unintended side effects.
  </p>
  <div id="bt2">
      <a href="http://localhost:4200/createnewpassword">
          <input type="button" value="Change password"/>
      </a>
      </div>
</div>

<div id="delete">
  <u><p class="d">
      Delete
  </p></u>
  <p class="oc">
          Once you delete your account, there is no going back. Please be certain.
  </p>
  <div id="bt3">
          <input type="button" value="Delete"/>
      </div>
</div>
</div>
