.image{
  margin-top: 20px;
  margin-left: 20px;
}

#accountsetting{
  width: 500px;
  height: 42px;
  margin-left: 20px;
  margin-top: 20px;
}

.ac{
  width: 100%;
  color: blue;
}

#changeusername{
  width: 600px;
  height: 150px;
  margin-left: 300px;
  margin-top: 100px;

}

.cu{
  font-size: 30px;
  margin: 0%
}

#changepassword{
  width: 600px;
  height: 150px;
  margin-left: 300px;
  margin-top: 100px;
}

.cp{
  font-size: 30px;
  margin: 0%
}

#delete{
  width: 600px;
  height: 150px;
  margin-left: 300px;
  margin-top: 100px;
}

.d{
  font-size: 30px;
  margin: 0%;
  color: red;

}

#bt3{
  color: red;
}

.settings {
  position: absolute;
  margin-top: -65px;
  margin-left: 77px;
}
