<app-header></app-header>
<nz-table #fixedTable [nzData]="list" [nzScroll]="{ x: '1150px', y: '550px' }">
  <thead>
    <tr>
      <th nzWidth="150px" nzLeft="0px">First Name</th>
      <th nzWidth="100px" nzLeft="150px">Last Name</th>
      <th nzWidth="100px">Email</th>
      <th nzWidth="100px">Phone Number</th>
      <th nzWidth="100px">Arrival Date</th>
      <th nzWidth="100px">Arrival Time</th>
      <th nzWidth="100px">Arrival Airport</th>
      <th nzWidth="100px">Flight Number</th>
      <th nzWidth="100px">Nationality</th>
      <th nzWidth="100px">Message</th>
      <th nzWidth="100px" nzRight="0px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td nzLeft="0px">{{ item.firstname }}</td>
      <td nzLeft="150px">{{ item.lastname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phonenumber }}</td>
      <td>{{ item.arrivaldate }}</td>
      <td>{{ item.arrivaltime }}</td>
      <td>{{ item.arrivalairport }}</td>
      <td>{{ item.flightnumber }}</td>
      <td>{{ item.nationality }}</td>
      <td>{{ item.message }}</td>
      <td nzRight="0px">
        <a (click)="delete(item.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" (click)="getData()">Get Pickup Forms</button> </div>
  <div class="control">
    <button class="button is-text" routerLink="/main">Cancel</button>
  </div>
</div>

<app-footer></app-footer>
