// .toppart {
//   .header {
//     background-color: #f0f2f5;
//     height: 100px;
//     font-size: 3em;
//     text-align: center;
//     }
//   .profile {
//     position: absolute;
//     padding-left: 89%;
//     margin-top: -97px;
//     margin-left: 80px;
//     font-size: 14px;
//     }
//   }

//   .menubar {
//     text-align: center;
//   }

// [nz-menu] {
//   line-height: 64px;
// }

// nz-content {
//   padding: 0 50px;
// }

// nz-footer {
//   text-align: center;
// }

// .inner-content {
//   background: #fff;
//   padding: 24px;
//   min-height: 280px;
// }

// #myVideo {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
// }

// .content {
//   position: fixed;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.5);
//   width: 100%;
//   padding: 20px;
//    h1 {
//     color: #f1f1f1;
//    }
// }

.card {
  /* margin: 10px; */
  min-height: 200px;
  min-width: 150px;
}

.flex-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
