<app-header></app-header>

<!-- <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
           <video muted autoplay loop oncanplay="this.muted=true" id="myVideo">
              <source src="assets/MUOverview.mp4" type="video/mp4">
            </video> -->
      <!-- </div>
    </div>
  </section> --> 
  <div class="container" >
    <div class="row">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <div class="card-text">
                        <div><span>Name: </span></div>
                        <div><span>Email: </span>email</div>
                        <div><span>Role: </span>mentor?student</div>
                        <div><span>Country: </span>country</div>
                        <div><span>ID: </span>id</div>
                        <div><span>Department: </span>department</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

  <!-- <div class="content">
      <h1>Welcome to Monmouth University</h1>
    </div> -->







<!-- <nz-layout>
  <div class="toppart">
  <nz-header class="header">
    Global Education International Students
  </nz-header>

  <div class="profile" style="height: 28px;" >
    <nz-button-group>
      <button nz-button>Username</button>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
        <i nz-icon nzType="user"></i>
      </button>
    </nz-button-group>
    <nz-dropdown-menu #menu2="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>Profile</li>
        <a href="http://localhost:4200/accountsetting">
        <li nz-menu-item>Account Settings</li>
        </a>
        <a href="http://localhost:4200/login">
        <li nz-menu-item>Sign Out</li>
        </a>
      </ul>
    </nz-dropdown-menu>
  </div>
  </div>

<div class="menubar" style="height: 45px;">
  <button nz-button nz-dropdown [nzDropdownMenu]="Home" style="width: 200px;">
    Home
    <i nz-icon nzType="down"></i>
  </button>
  <button nz-button nz-dropdown [nzDropdownMenu]="Forms" style="width: 200px;">
    Forms
    <i nz-icon nzType="down"></i>
  </button>
  <button nz-button nz-dropdown [nzDropdownMenu]="Housing" style="width: 200px;">
    Housing
    <i nz-icon nzType="down"></i>
  </button>
  <button nz-button nz-dropdown [nzDropdownMenu]="Events" style="width: 200px;">
    Events
    <i nz-icon nzType="down"></i>
  </button>
  <button nz-button nz-dropdown [nzDropdownMenu]="Blog" style="width: 200px;">
    Blog
    <i nz-icon nzType="down"></i>
  </button>
    <div class="dropDownMenu">
      <nz-dropdown-menu #Home="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item></li>
          <li nz-menu-item></li>
          <li nz-menu-item></li>
        </ul>
      </nz-dropdown-menu>
      <nz-dropdown-menu #Forms="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>Airport Pick Up</li>
          <li nz-menu-item>Mentor Application</li>
          <li nz-menu-item>Orientation</li>
        </ul>
      </nz-dropdown-menu>
      <nz-dropdown-menu #Housing="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>Set House</li>
          <li nz-menu-item>Look for a roomate</li>
        </ul>
      </nz-dropdown-menu>
      <nz-dropdown-menu #Events="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item></li>
          <li nz-menu-item></li>
          <li nz-menu-item></li>
        </ul>
      </nz-dropdown-menu>
      <nz-dropdown-menu #Blog="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item></li>
          <li nz-menu-item></li>
          <li nz-menu-item></li>
        </ul>
      </nz-dropdown-menu>
    </div>
</div>

<nz-content>
    <div class="inner-content">Content</div>
  </nz-content>
  <nz-footer>2019 Implement By Howard Lab</nz-footer>
</nz-layout> -->
