<app-header></app-header>
<form #f="ngForm" (ngSubmit)="postData(f)" novalidate>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <div class="field">
          <label class="label">Event Name</label>
          <div class="control">
            <input name="eventname" class="input" type="text" ngModel>
          </div>
        </div>
        <div class="field">
          <label class="label">Event Date</label>
          <div class="control">
            <input name="date" class="input" type="text" ngModel>
          </div>
        </div>
        <div class="field">
          <label class="label">Event Time</label>
          <div class="control">
            <input name="time" class="input" type="text" ngModel>
          </div>
        </div>
        <div class="field">
          <label class="label">Event Place</label>
          <div class="control">
            <input name="eventplace" class="input" type="text" ngModel>
          </div>
        </div>
        <div class="field">
          <label class="label">Event Description</label>
          <div class="control">
            <textarea name="description" class="textarea" ngModel></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text" routerLink="/main">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </section>
</form>
<app-footer></app-footer>
