<app-header></app-header>
<nz-table #fixedTable [nzData]="list" [nzScroll]="{ x: '1150px', y: '550px' }">
  <thead>
    <tr>
      <th nzWidth="150px" nzLeft="0px">Fitst Name</th>
      <th nzWidth="100px" nzLeft="150px">Last Name</th>
      <th nzWidth="100px">Student ID</th>
      <th nzWidth="100px">Email</th>
      <th nzWidth="100px">Country</th>
      <th nzWidth="100px">Department</th>
      <th nzWidth="100px" nzRight="0px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td nzLeft="0px">{{ item.firstname }}</td>
      <td nzLeft="150px">{{ item.lastname }}</td>
      <td>{{ item.studentid }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.country }}</td>
      <td>{{ item.department }}</td>
      <td nzRight="0px">
        <a (click)="delete(item.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- <input type="button" href="http://globalportal.test/user/delete/{{item.id}}">Delete</input> -->
<!-- <table class="tftable">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Student ID</th>
    <th>Email</th>
    <th>Country</th>
    <th>Department</th>
  </tr>
  <tr>
    <ul *ngFor="let item of list">
      <td> {{item.firstname}}</td>
      <td> {{item.lastname}}</td>
      <td> {{item.studentid}}</td>
      <td> {{item.email}}</td>
      <td> {{item.country}}</td>
      <td> {{item.department}}</td>
    </ul>
  </tr>
</table> -->

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" (click)="getData()">Get All Students</button> </div>
  <div class="control">
    <button class="button is-text" routerLink="/main">Cancel</button>
  </div>
</div>

<app-footer></app-footer>
