<app-header></app-header>
<div class="container">
<form #f="ngForm"  (ngSubmit)="postData(f)" novalidate>
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input name="firstname" class="input" type="text" ngModel>
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
          <input name="lastname" class="input" type="text" ngModel>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input name="email" class="input" type="email" ngModel>
        </div>

        <div class="field">
          <label class="label">Phone Number</label>
          <div class="control">
            <input name="phonenumber" class="input" type="text" ngModel> </div>
            <p>Please enter a 10 digit phone number</p>
        </div>

        <div class="field">
          <label class="label">Arrival Date</label>
          <div class="control">
            <input name="arrivaldate" class="input" type="text" ngModel> </div>
        </div>

        <div class="field">
          <label class="label">Arrival Time</label>
          <div class="control">
            <input name="arrivaltime" class="input" type="text" ngModel> </div>
        </div>

        <div class="field">
          <label class="label">Arrival Airport</label>
          <div class="control">
            <input name="arrivalairport" class="input" type="text" ngModel> </div>
        </div>

        <div class="field">
          <label class="label">Flight Number</label>
          <div class="control">
            <input name="flightnumber" class="input" type="text" ngModel> </div>
        </div>

        <div class="field">
          <label class="label">Nationality</label>
          <div class="control">
            <input name="nationality" class="input" type="text" ngModel> </div>
        </div>

        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea name="message" class="textarea" placeholder="Please leave your messages here" ngModel></textarea>
          </div>
        </div>

        <!-- <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text" routerLink="/main">Cancel</button>
          </div>
        </div> -->

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/main">Close</button>
          <button type="submit" class="btn btn-primary" 
              data-dismiss="modal" >Submit</button>
      </div>

      </div>
    </div>
  </div>
</section>
</form>
</div>
<app-footer></app-footer>
