<nz-layout>
  <nz-header class="header">
      Global Education International Students
  </nz-header>
</nz-layout>
<br>
<div class="header1">
  <h1>Change your Password</h1>
</div>
<br><br>
<div class="List1">
  <div class="oldpassword">
      Old Password:<br>
      <nz-input-group [nzSuffix]="old" nzSize="large">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Please enter your old password here"
            [(ngModel)]="passwod"
          />
        </nz-input-group>
  </div>
  <br>
  <div class="newpassword">
      New Password:<br>
      <nz-input-group [nzSuffix]="new" nzSize="large">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Please enter your new password here"
            [(ngModel)]="passwrd"
          />
        </nz-input-group>
  </div>
  <br>
  <div class="re-enterpw">
      Re-enter new Password:<br>
      <nz-input-group [nzSuffix]="reenter" nzSize="large">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Please re-enter your new password here"
            [(ngModel)]="password"
          />
        </nz-input-group>
  </div>
  <br> <br>
  <div class="attention">
  <p>Once you submit, you will recieve a verifaction from your email.</p>
  </div>
  <br>
  <div class="submit">
      <a href="http://localhost:4200/verifyemail">
      <button nz-button nzType="primary" nzBlock>Submit</button>
      </a>
  </div>
  <div class="cancel">
      <a href="http://localhost:4200/accountsetting">
      <button nz-button nzType="default" nzBlock>Cancel</button>
      </a>
  </div>
</div>
