.header {
  position: relative;
  background-color: #f0f2f5;
  height: 100px;
  font-size: 3em;
  text-align: center;
  }
.header1 {
  position: relative;
  height: 100px;
  font-size: 1.5em;
  text-align: center;
}
.List1{
  position: relative;
  margin:0 auto;width:720px;text-align:left;

  .oldpassword{
      font-size: 1.3em;

  }
  .newpassword{
      font-size: 1.3em;
  }
  .re-enterpw{

      font-size: 1.3em;
  }

}
.attention{
  font-size: 18px;
  color: red;
}

.submit{
  [nz-button] {
      margin-bottom: 12px;
}
}
.cancel{
  [nz-button] {
      margin-bottom: 12px;

}
}
