<app-header></app-header>
<form #f="ngForm" (ngSubmit)="postData(f)" novalidate>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input name="firstname" class="input" type="text" ngModel>
          </div>
        </div>
        <div class="field">
          <label class="label">Last Name</label>
          <div class="control">
            <input name="lastname" class="input" type="text" ngModel>
          </div>
        </div>
        <div class="field">
          <label class="label">Student ID</label>
          <div class="control">
            <input name="studentid" class="input" type="text" ngModel>
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input name="email" class="input" type="email" ngModel>
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input name="password" class="input" type="password" ngModel>
          </div>
        </div>
        <div class="field">
          <label class="label">Country</label>
          <div class="control">
            <input name="country" class="input" type="text" ngModel>
          </div>
        </div>
        <div class="field">
          <label class="label">Department</label>
          <div class="control">
            <input name="department" class="input" type="text" ngModel>
          </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-text" routerLink="/main">Cancel</button>
            </div>
          </div>
      </div>
    </div>

  </section>
</form>

<app-footer></app-footer>
